<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StockControl</title>
</head>
<body>
    <%- include('../partials/header') %>
    <%- include('../partials/sidebar') %>
    <%- include('../partials/errorMessage') %>
    <%- body %> <!-- Each different view will go here -->
    <%- include('../partials/footer'); -%>
</body>
</html>